body {
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
}
#input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px 
}

.btn {
    border: none;
    outline: none;
    margin: 5px 10px;
    padding: 10px 30px;
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110);
    transition: 0.2s;
    color:white;
}

.btn:hover {
    background: rgb(53, 167, 110);
}

.btn:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90);
}
form {
    margin:20px;
}

#status {
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    margin: 20px;
    width: 400px;
    height: 400px;
    border: 3px solid rgb(47, 124, 196);
}
